<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/style1.css">

<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>
<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
</body>